body {
   background-color: #212529;
   color: white;
   overflow: hidden;
}

.container {
   width: 100vw;
   height: 80vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

h1 {
   text-decoration: underline;
   transition: 0.3s ease-in-out;
}

h1:hover {
   text-shadow: 1px 1px 5px white;
}

input {
   margin-bottom: 4%;
   padding: 1%;
   border-radius: 6px;
   border: 2px solid white;
   align-content: center;
   display: inline-block;
   cursor: pointer;
   transition: 0.3s ease-in-out;
}

input:hover {
   box-shadow: 1px 1px 10px white;
}

button {
   padding: 1%;
   border-radius: 6px;
   border: 2px solid white;
   color: white;
   width: 10vw;
   background: linear-gradient(100deg, #376df9 0, #ff5fa0 75%, #ffc55a 100%);
   transition: 0.3s ease-in-out;
   cursor: pointer;
}

button:hover {
   transform: scale(1.1);
   box-shadow: 1px 1px 10px white;
}

footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: #212529;
   color: white;
   padding: 10px 0;
   text-align: center;
   font-size: 14px;
   font-family: Arial, sans-serif;
   z-index: 1000; 
}

footer a {
   color: #ffc55a;
   text-decoration: none;
   margin: 0 5px; 
}

footer a:hover {
   text-decoration: underline;
}