body {
   background-color: #212529;
   color: white;
}

button {
   padding: 1%;
   margin: 2%;
   border-radius: 6px;
   border: 2px solid white;
   color: white;
   width: 6vw;
   background: linear-gradient(100deg, #376df9 0, #ff5fa0 75%, #ffc55a 100%);
   transition: 0.3s ease-in-out;
   cursor: pointer;
}

button:hover {
   transform: scale(1.1);
   box-shadow: 1px 1px 10px white;
}
